<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Duong Nguyen</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="I genuinely want to share the kindness in my life to increase efficiency and provide long-term benefit for society. ">
    <meta name="author" content="Duong Nguyen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://darleigh.com/assets/images/3d/Saly-10.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Darleigh">
    <meta name="application-name" content="Darleigh">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="https://darleigh.com/assets/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://darleigh.com/assets/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://darleigh.com/assets/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://darleigh.com/assets/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://darleigh.com/assets/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://darleigh.com/assets/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://darleigh.com/assets/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://darleigh.com/assets/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://darleigh.com/assets/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://darleigh.com/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://darleigh.com/assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://darleigh.com/assets/images/favicon-16x16.png">
    <link rel="manifest" href="https://darleigh.com/assets/images/manifest.json">

    <!-- SEO -->
    <time datetime="2023-14-01" pubdate="pubdate"></time>
    <meta property="og:type" content="profile:Darleigh" />
    <meta property="og:url" content="Darleigh.com" />
    <meta property="og:title" content="Duong Nguyen" />
    <meta property="og:image" content="image.png" />
    <meta property="og:description" content="I genuinely want to share the kindness in my life to increase efficiency and provide long-term benefit for society. " /> 



   

    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="https://darleigh.com/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="https://darleigh.com/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="https://darleigh.com/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="https://darleigh.com/assets/css/vendor/aos.css">
    <link rel="stylesheet" href="https://darleigh.com/assets/css/plugins/feature.css">
    <!-- Style css -->
    <link rel="stylesheet" href="https://darleigh.com/assets/css/style.css">
    <style>
/* Process bar */
#progress-container {
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  width: 100%;
  height: 4px;
  background-color: white;
  z-index: 0;
  border-radius: 10px;
  }

  #progress-bar {
  height: 100%;
  background-color: var(--color-primary);
  width: 0%;
  transition: width 0.4s ease;
  border-radius: 10px;
  }
    </style>
</head>
    <main>
<body class="template-color-1 spybody white-version" data-spy="scroll" data-target=".navbar-example2" data-offset="150">
    {% include header.html %}
    {{content}}
    </main>
    {% include footer.html %}
</body>

</html>
